<b>Daily Log: Rajat Shrestha</b><br>
<b>Date: {{date}}</b>
<ul>
    {%if task_today|length>0 %}
    <li><b>Task of the day:</b>
        <ol>
            {% for task in task_today %}
                <li> {{task}}</li>
            {% endfor %}
        </ol>
    </li>
    <p></p>
    {% endif %}
    {%if task_completed|length>0 %}
    <li><b>Completed task:</b>
        <ol>
            {% for task in task_completed %}
            <li> {{task}}</li>
            {% endfor %}
        </ol>
    </li>
    <p></p>
    {% endif %}
    {%if issues|length>0 %}
    <li><b>Faced issues:</b>
        <ol>
            {% for issue in issues %}
            <li> {{issue}}</li>
            {% endfor %}
        </ol>
    </li>
    <p></p>
    {% endif %}
    {%if plans_tomorrow|length>0 %}
    <li><b>Planning for tomorrow:</b>
        <ol>
            {% for plan in plans_tomorrow %}
            <li> {{plan}}</li>
            {% endfor %}
        </ol>
    </li>
    {% endif %}
</ul>
